.btn {
  /* Define uma variável CSS para a cor de fundo do botão, usando outra variável global */
  --btn-bg-color: var(--text-color-primary); 

  /* Define uma variável CSS para a cor do texto do botão, usando outra variável global */
  --btn-color: var(--bg-color);

  /* Remove as bordas padrão do botão */
  border: 0;

  /* Usa Flexbox para alinhar o conteúdo do botão */
  display: flex;

  /* Alinha verticalmente o conteúdo ao centro */
  align-items: center;

  /* Alinha horizontalmente o conteúdo ao centro */
  justify-content: center;

  /* Faz o botão ter largura apenas suficiente para o conteúdo interno */
  width: fit-content; /* Se encaixa ao conteudo que tem dentro */

  /* Arredonda os cantos do botão */
  border-radius: .5rem;

  /* Define a fonte do botão usando variáveis para peso, tamanho, altura da linha e família */
  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans); 

  /* Muda o cursor para ponteiro ao passar o mouse, indicando que é clicável */
  cursor: pointer;

  /* Aplica a cor de fundo definida pela variável */
  background: var(--btn-bg-color);

  /* Aplica a cor do texto definida pela variável */
  color: var(--btn-color);
}