/* Importa todos os arquivos CSS diretamente em um sรณ */
@import url(global.css);
@import url(utility.css);
@import url(buttons.css);
@import url(social.css);
@import url(header.css);
@import url(hero.css);